ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  color: #000;
}

p {
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

@font-face {
  font-family: "kohib";
  src: url("../KOHIBaeum.woff2");
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
ul,
li {
  text-decoration: none;
}

.on {
  font-weight: 700;
  border-bottom: 3px solid #e4007f;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 2px solid rgb(83, 81, 81);
}
header section {
  width: 1300px;
  margin: 0 auto;
}
header section article {
  display: flex;
  justify-content: space-between;
}
header section article nav {
  width: 40%;
}
header section article nav a {
  display: flex;
}
header section article nav a img {
  width: 20%;
}
header section article nav a h1 {
  font-size: 25.6px;
  font-weight: 200;
  color: #585858;
  font-family: "kohib";
  transform: translateX(20px);
}
header section article .d1 {
  transform: translate(-150px, 30px);
}
header section article .d1 label {
  display: flex;
  justify-content: space-between;
  border: 2px solid #585858;
  border-radius: 30px;
  padding: 10px;
}
header section article .d1 label .input {
  border: 0;
  outline: none;
  padding: 0 10px;
  width: 310px;
  font-size: 16px;
  font-weight: bolder;
}
header section article .d1 label button {
  outline: none;
  background-color: white;
  border: 0;
}
header section article .d2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translateX(-50px);
}
header section article .d2 #language {
  border-color: transparent;
}
header section article .d2 .header_info {
  display: flex;
  gap: 10px;
}
header section article .d2 .header_info li {
  font-size: 14.4px;
}
header section article .d2 .header_info li .da1 {
  width: 2em;
  height: 2em;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 10px;
  font-weight: 10px;
  text-align: center;
}
header section article .d2 .header_info li .da1 span {
  vertical-align: middle;
}
header section .d3 {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}
header section .d3 li {
  padding: 10px 15px;
}
header section .d3 li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header section .d3 li a img {
  width: 50px;
  height: 50px;
}
header section .d3 li a span {
  font-size: 14px;
}

main {
  width: 1300px;
  margin: 0 auto;
  margin-top: 200px;
}
main .gongji {
  display: flex;
  margin-top: 300px;
  margin-bottom: 100px;
}
main .gongji section {
  width: 70%;
}
main .gongji section .gm {
  width: 100%;
  justify-content: space-between;
  padding-right: 50px;
}
main .gongji section .gm .g1 {
  width: 100%;
  border-bottom: 1px solid black;
}
main .gongji section .gm .g1 > h2 {
  font-family: "kohib";
  font-size: 25.6px;
  font-weight: 200;
  color: #585858;
  position: relative;
}
main .gongji section .gm .g1 > h2::after {
  display: block;
  content: "";
  width: 25px;
  height: 17px;
  top: -15px;
  right: -25px;
  background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
  position: absolute;
  background-size: 100%;
}
main .gongji section div {
  display: flex;
}
main .gongji section div .u1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}
main .gongji section div .u1 .color1 {
  background: #e0e9f4;
  color: #585858;
}
main .gongji section div .u1 .color2 {
  background: #f9e6e2;
  color: #585858;
}
main .gongji section div .u1 .color3 {
  background: #f3e6f3;
  color: #585858;
}
main .gongji section div .u1 .color4 {
  background: #f3e6f3;
  color: #585858;
}
main .gongji section div .u1 .color5 {
  background: #ddece9;
  color: #585858;
}
main .gongji section div .u1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}
main .gongji section div .u1 li a {
  padding: 3px 5px;
  font-size: 16px;
  text-align: center;
}
main .gongji section div .u1 li a:nth-of-type(1) {
  border-radius: 20px;
  width: 110px;
}
main .gongji section div .u1 li span {
  padding: 5px;
}
main .gongji .sibal {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
}
main .gongji .sibal .g2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}
main .gongji .sibal .g2 span {
  font-size: 19.2px;
  color: #959595;
}
main .gongji .sibal .g2 span.g21 {
  color: #c43f4d;
}
main .gongji .sibal .g2 .g3 {
  transform: translateY(4px);
}
main .gongji .sibal .g2 .g3 .sol {
  border: 0;
  background: url("../imgs/info/btn_left_icon_03.png") no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-size: contain;
  color: #959595;
}
main .gongji .sibal .g2 .g3 .pause {
  border: 0;
  background: url("../imgs/info/btn_pause_icon_02.png") no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}
main .gongji .sibal .g2 .g3 .play {
  display: none;
  border: 0;
  background: url("../imgs/info/btn_play_icon_04.png") no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}
main .gongji .sibal .g2 .g3 .sag {
  border: 0;
  background: url("../imgs/info/btn_right_arrow_icon_01.png") no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-size: contain;
}
main .gongji .sibal .u2 {
  width: 100%;
}
main .gongji .sibal .u2 .swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
main .gongji .sibal .u2 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .gongji .sibal .u2 .swiper .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .sosik section div {
  position: relative;
}
main .sosik section div h2 {
  font-family: "kohib";
  font-size: 25.6px;
  font-weight: 200;
  color: #585858;
  margin-bottom: 30px;
}
main .sosik section div h2::after {
  display: block;
  content: "";
  width: 25px;
  height: 17px;
  top: -15px;
  left: 80px;
  background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
  position: absolute;
  background-size: 100%;
}
main .sosik section ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  transform: translateX(-15px);
}
main .sosik section ul li {
  width: 22%;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  border-radius: 20px;
  padding: 35px 30px 40px;
  transition: 0.5s;
}
main .sosik section ul li:hover {
  box-shadow: 3px 3px 3px rgb(206, 200, 200);
}
main .sosik section ul li p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  font-size: 20.8px;
  vertical-align: middle;
}
main .sosik section ul li p:nth-of-type(1) span:nth-of-type(1) {
  font-size: 18.2px;
  color: #585858;
}
main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) {
  width: 35px;
  height: 35px;
  color: #333333;
}
main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) img {
  vertical-align: text-top;
  transition: 1s;
}
main .baro section {
  margin-top: 100px;
}
main .baro section div h2 {
  position: relative;
  font-family: "kohib";
  font-size: 25.6px;
  font-weight: 200;
  color: #585858;
}
main .baro section div h2::after {
  display: block;
  content: "";
  width: 25px;
  height: 17px;
  top: -15px;
  left: 80px;
  background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
  position: absolute;
  background-size: 100%;
}
main .baro section nav {
  margin-bottom: 50px;
}
main .baro section nav::after {
  height: 20px;
  content: "";
  display: block;
  border-bottom: 1px solid #0f6ca1;
  width: 93%;
  margin: 0 auto;
}
main .baro section nav a {
  margin: 10px 25px;
  padding: 18px 32px;
  font-size: 20.8px;
  color: #585858;
}
main .baro section nav a:nth-of-type(4) {
  margin: 10px 25px 10px 0px;
}
main .baro section ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main .baro section ul li {
  font-size: 16px;
  width: 15%;
  height: 60px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
}
main .baro section ul li:hover {
  border: none;
}
main .baro section ul li a {
  white-space: pre-wrap;
  text-align: center;
  padding: 0 20px;
}
main .baro section ul li a:hover {
  color: white;
}
main .baro section ul li:hover {
  background-color: #e4007f;
}

.footer {
  margin-top: 100px;
  background-color: #f9f9f9;
  padding-bottom: 150px;
}
.footer section {
  width: 1300px;
  margin: 0 auto;
}
.footer section .footul1 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.footer section .footul1 li {
  width: 45%;
  transform: translateX(-20px);
  margin-top: 20px;
}
.footer section .footul1 li:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
.footer section .footul1 li:nth-of-type(1) a {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d0d0;
}
.footer section .footul1 li:nth-of-type(1) a p {
  position: relative;
  padding: 10px 10px;
  font-size: 13px;
}
.footer section .footul1 li:nth-of-type(1) a p:nth-of-type(1)::after {
  position: absolute;
  width: 20%;
  height: 20%;
  content: "";
  display: block;
  top: 15px;
  right: -20px;
  background: url("../imgs/info/ico_select_arrow.png") no-repeat;
  transform: translateX(90px);
}
.footer section .footul1 li:nth-of-type(1) a p:nth-of-type(2)::after {
  position: absolute;
  width: 20%;
  height: 20%;
  content: "";
  display: block;
  top: 15px;
  right: -20px;
  background: url("../imgs/info/ico_select_arrow.png") no-repeat;
  transform: translateX(100px);
}
.footer section .footul1 li:nth-of-type(1) a span {
  padding-right: 10px;
  font-size: 14px;
}
.footer section .footul1 li:nth-of-type(1) a span::before {
  content: "";
  border-left: 1px solid #585858;
  padding-right: 5px;
}
.footer section .footul1 li:nth-of-type(2) {
  text-align: end;
}
.footer section .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer section .flex .footer_left {
  display: flex;
}
.footer section .flex .footer_left a img {
  width: 45%;
  transform: translateX(10px);
}
.footer section .flex .footer_left ul {
  position: relative;
  transform: translateX(-80px);
}
.footer section .flex .footer_left ul li {
  font-size: 14.4px;
  color: #333333;
}
.footer section .flex .footer_left ul li:nth-of-type(1) {
  font-size: 21.6px;
}
.footer section .flex .footer_left ul li:nth-of-type(4) {
  margin-top: 15px;
}
.footer section .flex .footer_left ul li:nth-of-type(5) {
  margin-bottom: 15px;
}
.footer section .flex .footer_left ul li:nth-of-type(5) a {
  text-decoration: underline;
  color: #0f6ca1;
}
.footer section .flex .footer_left ul::before {
  content: "";
  display: block;
  border-left: 1px solid #d3d0d0;
  height: 100%;
  position: absolute;
  left: -30px;
}
.footer section .footer_right {
  display: flex;
  transform: translate(-170px);
}
.footer section .footer_right ul {
  position: relative;
}
.footer section .footer_right ul li a span {
  font-size: 20px;
  padding-right: 10px;
}
.footer section .footer_right ul::before {
  content: "";
  display: block;
  border-left: 1px solid #d3d0d0;
  height: 100%;
  position: absolute;
  left: -30px;
}
.footer section .footer_right ul::after {
  content: "";
  display: block;
  border-left: 1px solid #d3d0d0;
  height: 100%;
  position: absolute;
  right: -30px;
  top: 0;
}
.footer section .footer_right .footer_right_img {
  transform: translateX(50px);
}

.bugichat {
  position: fixed;
  right: 50px;
  bottom: 150px;
}
.bugichat figure {
  display: flex;
  flex-direction: column;
}
.bugichat figure a {
  display: block;
}
.bugichat figure a:nth-of-type(1) {
  height: 168px;
  position: relative;
}
.bugichat figure a:nth-of-type(1) img {
  position: absolute;
}
.bugichat figure a:nth-of-type(1) img:nth-of-type(1) {
  z-index: 1;
}
.bugichat figure:hover a:nth-of-type(1) img:nth-of-type(1) {
  display: none;
}

.top {
  position: fixed;
  right: 15px;
  bottom: 15px;
}
.top a p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 12px;
}
.top a::before {
  content: "";
  display: block;
  background: url("../imgs/info/ico_scrolltop.png") no-repeat;
  transform: translate(13px, -10px);
  height: 50px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  color: #000;
}

p {
  margin: 0;
}

a, a:hover, a:active {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

@font-face {
  font-family: "kohib";
  src: url("../KOHIBaeum.woff2");
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 1280px) {
  ul, li {
    text-decoration: none;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid rgb(83, 81, 81);
  }
  header section {
    width: 80%;
    margin: 0 auto;
  }
  header section article {
    display: flex;
    justify-content: space-between;
  }
  header section article nav {
    width: 40%;
  }
  header section article nav a {
    display: flex;
  }
  header section article nav a img {
    width: 20%;
  }
  header section article nav a h1 {
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    font-family: "kohib";
    transform: translateX(20px);
  }
  header section article .d1 {
    transform: translate(-150px, 30px);
  }
  header section article .d1 label {
    display: flex;
    justify-content: space-between;
    border: 2px solid #585858;
    border-radius: 30px;
    padding: 10px;
  }
  header section article .d1 label .input {
    border: 0;
    outline: none;
    padding: 0 10px;
    width: 310px;
    font-size: 16px;
    font-weight: bolder;
  }
  header section article .d1 label button {
    outline: none;
    background-color: white;
    border: 0;
  }
  header section article .d2 {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(-50px);
  }
  header section article .d2 #language {
    border-color: transparent;
  }
  header section article .d2 .header_info {
    display: flex;
    gap: 10px;
  }
  header section article .d2 .header_info li {
    font-size: 14.4px;
  }
  header section article .d2 .header_info li .da1 {
    width: 2em;
    height: 2em;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 10px;
    font-weight: 10px;
    text-align: center;
  }
  header section article .d2 .header_info li .da1 span {
    vertical-align: middle;
  }
  header section .d3 {
    margin-top: 15px;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
  }
  header section .d3 li {
    padding: 10px 15px;
  }
  header section .d3 li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header section .d3 li a img {
    width: 50px;
    height: 50px;
  }
  header section .d3 li a span {
    font-size: 14px;
  }
  main {
    width: 95%;
  }
  main .gongji {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  main .gongji section .gm {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
  main .gongji section .gm .g1 {
    width: 100%;
    border-bottom: 1px solid black;
  }
  main .gongji section .gm .g1 > h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    position: relative;
  }
  main .gongji section .gm .g1 > h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    right: -25px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .gongji section .gm .g2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateY(35%);
  }
  main .gongji section .gm .g2 span {
    font-size: 19.2px;
    color: #959595;
  }
  main .gongji section .gm .g2 span.g21 {
    color: #c43f4d;
  }
  main .gongji section .gm .g2 .g3 {
    width: 20%;
    transform: translateY(4px);
  }
  main .gongji section .gm .g2 .g3 .sol {
    border: 0;
    background: url("../imgs/info/btn_left_icon_03.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
    color: #959595;
  }
  main .gongji section .gm .g2 .g3 .pause {
    border: 0;
    background: url("../imgs/info/btn_pause_icon_02.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .play {
    display: none;
    border: 0;
    background: url("../imgs/info/btn_play_icon_04.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .sag {
    border: 0;
    background: url("../imgs/info/btn_right_arrow_icon_01.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section div {
    display: flex;
  }
  main .gongji section div .u1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
  main .gongji section div .u1 .color1 {
    background: #e0e9f4;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color2 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color3 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color4 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color5 {
    background: #ddece9;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
  }
  main .gongji section div .u1 li a {
    padding: 3px 5px;
    font-size: 16px;
    text-align: center;
  }
  main .gongji section div .u1 li a:nth-of-type(1) {
    border-radius: 20px;
    width: 110px;
  }
  main .gongji section div .u1 li span {
    padding: 5px;
  }
  main .gongji section .u2 {
    width: 40%;
    height: 232px;
  }
  main .gongji section .u2 .swiper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  main .gongji section .u2 .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .gongji section .u2 .swiper .swiper-slide img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .sosik {
    margin: 0 auto;
  }
  main .sosik section div {
    position: relative;
  }
  main .sosik section div h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    margin-bottom: 30px;
  }
  main .sosik section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .sosik section ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    transform: translateX(-15px);
  }
  main .sosik section ul li {
    width: 22%;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 35px 30px 40px;
    transition: 0.5s;
  }
  main .sosik section ul li:hover {
    box-shadow: 3px 3px 3px rgb(206, 200, 200);
  }
  main .sosik section ul li p:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    font-size: 18.2px;
    vertical-align: middle;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(1) {
    font-size: 18.2px;
    color: #585858;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) {
    width: 35px;
    height: 35px;
    color: #333333;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) img {
    vertical-align: text-top;
    transition: 1s;
  }
  main .baro section {
    margin-top: 100px;
  }
  main .baro section div h2 {
    position: relative;
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
  }
  main .baro section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .baro section nav {
    margin-bottom: 50px;
  }
  main .baro section nav::after {
    height: 20px;
    content: "";
    display: block;
    border-bottom: 1px solid #585858;
  }
  main .baro section nav a {
    margin: 10px 25px;
    padding: 30px;
    font-size: 18.2px;
    color: #585858;
  }
  main .baro section nav a:nth-of-type(4) {
    margin: 10px 25px 10px 0px;
  }
  main .baro section ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
  main .baro section ul li {
    width: 23%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-size: 14px;
  }
  main .baro section ul li:hover {
    border: none;
  }
  main .baro section ul li a {
    text-align: center;
  }
  main .baro section ul li a:hover {
    color: white;
  }
  main .baro section ul li:hover {
    background-color: #e4007f;
  }
  .footer {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
  }
  .footer section {
    width: 100%;
    margin: 0 auto;
  }
  .footer section .footul1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .footer section .footul1 li {
    width: 45%;
    transform: translateX(-20px);
    margin-top: 20px;
  }
  .footer section .footul1 li:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
  }
  .footer section .footul1 li:nth-of-type(1) a {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d3d0d0;
  }
  .footer section .footul1 li:nth-of-type(1) a p {
    position: relative;
    padding: 10px 10px;
    font-size: 13px;
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(1)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(90px);
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(2)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(100px);
  }
  .footer section .footul1 li:nth-of-type(1) a span {
    padding-right: 10px;
    font-size: 14px;
  }
  .footer section .footul1 li:nth-of-type(1) a span::before {
    content: "";
    border-left: 1px solid #585858;
    padding-right: 5px;
  }
  .footer section .footul1 li:nth-of-type(2) {
    text-align: end;
  }
  .footer section .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer section .flex .footer_left {
    display: flex;
    flex-direction: column;
  }
  .footer section .flex .footer_left a img {
    width: 30%;
    transform: translateX(40px);
  }
  .footer section .flex .footer_left ul {
    position: relative;
    transform: translateX(40px);
  }
  .footer section .flex .footer_left ul li {
    font-size: 14.4px;
    color: #333333;
  }
  .footer section .flex .footer_left ul li:nth-of-type(1) {
    font-size: 17.85px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(4) {
    margin-top: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) {
    margin-bottom: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) a {
    text-decoration: underline;
    color: #0f6ca1;
  }
  .footer section .flex .footer_left ul::before {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right {
    display: flex;
    transform: translateX(-450px);
  }
  .footer section .footer_right ul {
    position: relative;
  }
  .footer section .footer_right ul li a {
    font-size: 11.9px;
  }
  .footer section .footer_right ul li a span {
    font-size: 20px;
    padding-right: 10px;
  }
  .footer section .footer_right ul::before {
    content: "";
    display: block;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right ul::after {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    right: -30px;
    top: 0;
  }
  .footer section .footer_right .footer_right_img {
    transform: translateX(50px);
  }
  .bugichat {
    position: fixed;
    right: 50px;
    bottom: 150px;
  }
  .bugichat figure {
    display: flex;
    flex-direction: column;
  }
  .bugichat figure a {
    width: 55%;
    transform: translateY(-30px);
    display: block;
  }
  .bugichat figure a:nth-of-type(1) {
    height: 100%;
    position: relative;
    transform: translate(100px, -50px);
  }
  .bugichat figure a:nth-of-type(1) img {
    width: 100%;
    position: absolute;
  }
  .bugichat figure a:nth-of-type(1) img:nth-of-type(1) {
    z-index: 1;
  }
  .bugichat figure a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(1) {
    width: 100%;
    display: none;
  }
  .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .bugichat .text_img {
    transform: translate(100px, 40px);
  }
  .bugichat .text_img img {
    width: 100%;
  }
  .top {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
  .top a p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 12px;
  }
  .top a::before {
    content: "";
    display: block;
    background: url("../imgs/info/ico_scrolltop.png") no-repeat;
    transform: translate(13px, -10px);
    height: 50px;
  }
}
@media (max-width: 1022px) {
  ul, li {
    text-decoration: none;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid rgb(83, 81, 81);
  }
  header section {
    width: 80%;
    margin: 0 auto;
  }
  header section article {
    display: flex;
    justify-content: space-between;
  }
  header section article nav {
    width: 40%;
  }
  header section article nav a {
    display: flex;
  }
  header section article nav a img {
    width: 20%;
  }
  header section article nav a h1 {
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    font-family: "kohib";
    transform: translateX(20px);
  }
  header section article .d1 {
    transform: translate(-150px, 30px);
  }
  header section article .d1 label {
    display: flex;
    justify-content: space-between;
    border: 2px solid #585858;
    border-radius: 30px;
    padding: 10px;
  }
  header section article .d1 label .input {
    border: 0;
    outline: none;
    padding: 0 10px;
    width: 310px;
    font-size: 16px;
    font-weight: bolder;
  }
  header section article .d1 label button {
    outline: none;
    background-color: white;
    border: 0;
  }
  header section article .d2 {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(-50px);
  }
  header section article .d2 #language {
    border-color: transparent;
  }
  header section article .d2 .header_info {
    display: flex;
    gap: 10px;
  }
  header section article .d2 .header_info li {
    font-size: 14.4px;
  }
  header section article .d2 .header_info li .da1 {
    width: 2em;
    height: 2em;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 10px;
    font-weight: 10px;
    text-align: center;
  }
  header section article .d2 .header_info li .da1 span {
    vertical-align: middle;
  }
  header section .d3 {
    margin-top: 15px;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
  }
  header section .d3 li {
    padding: 10px 15px;
  }
  header section .d3 li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header section .d3 li a img {
    width: 50px;
    height: 50px;
  }
  header section .d3 li a span {
    font-size: 14px;
  }
  main {
    width: 95%;
    margin: 0 auto;
    margin-top: 200px;
  }
  main .gongji {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  main .gongji section .gm {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
  main .gongji section .gm .g1 {
    width: 100%;
    border-bottom: 1px solid black;
  }
  main .gongji section .gm .g1 > h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    position: relative;
  }
  main .gongji section .gm .g1 > h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    right: -25px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .gongji section .gm .g2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateY(35%);
  }
  main .gongji section .gm .g2 span {
    font-size: 19.2px;
    color: #959595;
  }
  main .gongji section .gm .g2 span.g21 {
    color: #c43f4d;
  }
  main .gongji section .gm .g2 .g3 {
    width: 20%;
    transform: translateY(4px);
  }
  main .gongji section .gm .g2 .g3 .sol {
    border: 0;
    background: url("../imgs/info/btn_left_icon_03.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
    color: #959595;
  }
  main .gongji section .gm .g2 .g3 .pause {
    border: 0;
    background: url("../imgs/info/btn_pause_icon_02.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .play {
    display: none;
    border: 0;
    background: url("../imgs/info/btn_play_icon_04.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .sag {
    border: 0;
    background: url("../imgs/info/btn_right_arrow_icon_01.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section div {
    display: flex;
  }
  main .gongji section div .u1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
  main .gongji section div .u1 .color1 {
    background: #e0e9f4;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color2 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color3 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color4 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color5 {
    background: #ddece9;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
  }
  main .gongji section div .u1 li a {
    padding: 3px 5px;
    font-size: 14px;
    text-align: center;
  }
  main .gongji section div .u1 li a:nth-of-type(1) {
    border-radius: 20px;
    width: 110px;
  }
  main .gongji section div .u1 li span {
    font-size: 14px;
    padding: 5px;
  }
  main .gongji section .u2 {
    width: 40%;
    height: 232px;
  }
  main .gongji section .u2 .swiper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  main .gongji section .u2 .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .gongji section .u2 .swiper .swiper-slide img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .sosik {
    margin: 0 auto;
  }
  main .sosik .ul1 {
    margin-bottom: 0;
  }
  main .sosik section div {
    position: relative;
  }
  main .sosik section div h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    margin-bottom: 30px;
  }
  main .sosik section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .sosik section ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateX(-15px);
  }
  main .sosik section ul li {
    margin-bottom: 15px;
    width: 45%;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 35px 30px 40px;
    transition: 0.5s;
  }
  main .sosik section ul li:hover {
    box-shadow: 3px 3px 3px rgb(206, 200, 200);
  }
  main .sosik section ul li p:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    font-size: 18.2px;
    vertical-align: middle;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(1) {
    font-size: 18.2px;
    color: #585858;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) {
    width: 35px;
    height: 35px;
    color: #333333;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) img {
    vertical-align: text-top;
    transition: 1s;
  }
  main .baro section {
    margin-top: 100px;
  }
  main .baro section div h2 {
    position: relative;
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
  }
  main .baro section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .baro section nav {
    margin-bottom: 50px;
    font-size: 18.2px;
  }
  main .baro section nav::after {
    height: 20px;
    content: "";
    display: block;
    border-bottom: 1px solid #585858;
  }
  main .baro section nav a {
    margin: 10px 25px;
    padding: 30px;
    font-size: 18.2px;
    color: #585858;
  }
  main .baro section nav a:nth-of-type(4) {
    margin: 10px 25px 10px 0px;
  }
  main .baro section ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
  main .baro section ul li {
    width: 22%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-size: 14px;
  }
  main .baro section ul li:hover {
    border: none;
  }
  main .baro section ul li a {
    text-align: center;
  }
  main .baro section ul li a:hover {
    color: white;
  }
  main .baro section ul li:hover {
    background-color: #e4007f;
  }
  .footer {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
  }
  .footer section {
    width: 100%;
    margin: 0 auto;
  }
  .footer section .footul1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .footer section .footul1 li {
    width: 45%;
    transform: translateX(-20px);
    margin-top: 20px;
  }
  .footer section .footul1 li:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
  }
  .footer section .footul1 li:nth-of-type(1) a {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d3d0d0;
  }
  .footer section .footul1 li:nth-of-type(1) a p {
    position: relative;
    padding: 10px 10px;
    font-size: 13px;
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(1)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(90px);
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(2)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(100px);
  }
  .footer section .footul1 li:nth-of-type(1) a span {
    padding-right: 10px;
    font-size: 14px;
  }
  .footer section .footul1 li:nth-of-type(1) a span::before {
    content: "";
    border-left: 1px solid #585858;
    padding-right: 5px;
  }
  .footer section .footul1 li:nth-of-type(2) {
    text-align: end;
  }
  .footer section .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer section .flex .footer_left {
    display: flex;
    flex-direction: column;
  }
  .footer section .flex .footer_left a img {
    width: 30%;
    transform: translateX(40px);
  }
  .footer section .flex .footer_left ul {
    position: relative;
    transform: translateX(40px);
  }
  .footer section .flex .footer_left ul li {
    font-size: 11.9px;
    color: #333333;
  }
  .footer section .flex .footer_left ul li:nth-of-type(1) {
    font-size: 17.85px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(4) {
    margin-top: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) {
    margin-bottom: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) a {
    text-decoration: underline;
    color: #0f6ca1;
  }
  .footer section .flex .footer_left ul::before {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right {
    display: flex;
    flex-direction: column;
    transform: translateX(-400px);
  }
  .footer section .footer_right ul {
    position: relative;
  }
  .footer section .footer_right ul li {
    line-height: 1;
  }
  .footer section .footer_right ul li a {
    font-size: 11.9px;
  }
  .footer section .footer_right ul li a span {
    font-size: 20px;
    padding-right: 10px;
  }
  .footer section .footer_right ul::before {
    content: "";
    display: block;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right ul::after {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    right: -30px;
    top: 0;
  }
  .footer section .footer_right .footer_right_img {
    transform: translate(10px, 20px);
  }
  .footer section .footer_right .footer_right_img img {
    width: 55%;
  }
  .footer .bugichat {
    position: fixed;
    right: 50px;
    bottom: 150px;
  }
  .footer .bugichat figure {
    display: flex;
    flex-direction: column;
  }
  .footer .bugichat figure a {
    width: 55%;
    transform: translateY(-30px);
    display: block;
  }
  .footer .bugichat figure a:nth-of-type(1) {
    height: 100%;
    position: relative;
    transform: translate(100px, -50px);
  }
  .footer .bugichat figure a:nth-of-type(1) img {
    width: 100%;
    position: absolute;
  }
  .footer .bugichat figure a:nth-of-type(1) img:nth-of-type(1) {
    z-index: 1;
  }
  .footer .bugichat figure a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .footer .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(1) {
    width: 100%;
    display: none;
  }
  .footer .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .footer .bugichat .text_img {
    transform: translate(100px, 40px);
  }
  .footer .bugichat .text_img img {
    width: 100%;
  }
  .footer .top {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
  .footer .top a p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 12px;
  }
  .footer .top a::before {
    content: "";
    display: block;
    background: url("../imgs/info/ico_scrolltop.png") no-repeat;
    transform: translate(13px, -10px);
    height: 50px;
  }
}
@media (max-width: 768px) {
  ul, li {
    text-decoration: none;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid rgb(83, 81, 81);
  }
  header section {
    width: 80%;
    margin: 0 auto;
  }
  header section article {
    display: flex;
    justify-content: center;
  }
  header section article nav {
    width: 40%;
  }
  header section article nav a {
    display: flex;
  }
  header section article nav a img {
    width: 20%;
  }
  header section article nav a h1 {
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    font-family: "kohib";
    transform: translateX(20px);
  }
  header section article .d1 {
    display: none;
    transform: translate(-150px, 30px);
  }
  header section article .d1 label {
    display: flex;
    justify-content: space-between;
    border: 2px solid #585858;
    border-radius: 30px;
    padding: 10px;
  }
  header section article .d1 label .input {
    border: 0;
    outline: none;
    padding: 0 10px;
    width: 310px;
    font-size: 16px;
    font-weight: bolder;
  }
  header section article .d1 label button {
    outline: none;
    background-color: white;
    border: 0;
  }
  header section article .d2 {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(-50px);
  }
  header section article .d2 #language {
    border-color: transparent;
  }
  header section article .d2 .header_info {
    display: flex;
    gap: 10px;
  }
  header section article .d2 .header_info li {
    font-size: 14.4px;
  }
  header section article .d2 .header_info li .da1 {
    width: 2em;
    height: 2em;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 10px;
    font-weight: 10px;
    text-align: center;
  }
  header section article .d2 .header_info li .da1 span {
    vertical-align: middle;
  }
  header section .d3 {
    margin-top: 15px;
    display: none;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
  }
  header section .d3 li {
    padding: 10px 15px;
  }
  header section .d3 li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header section .d3 li a img {
    width: 50px;
    height: 50px;
  }
  header section .d3 li a span {
    font-size: 14px;
  }
  main {
    width: 95%;
    margin: 0 auto;
    margin-top: 150px;
  }
  main .gongji {
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  main .gongji section {
    width: 100%;
  }
  main .gongji section .gm {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }
  main .gongji section .gm .g1 {
    width: 100%;
    border-bottom: 1px solid black;
  }
  main .gongji section .gm .g1 > h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    position: relative;
  }
  main .gongji section .gm .g1 > h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    right: -25px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .gongji section .gm .g2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateY(35%);
  }
  main .gongji section .gm .g2 span {
    font-size: 19.2px;
    color: #959595;
  }
  main .gongji section .gm .g2 span.g21 {
    color: #c43f4d;
  }
  main .gongji section .gm .g2 .g3 {
    width: 20%;
    transform: translateY(4px);
  }
  main .gongji section .gm .g2 .g3 .sol {
    border: 0;
    background: url("../imgs/info/btn_left_icon_03.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
    color: #959595;
  }
  main .gongji section .gm .g2 .g3 .pause {
    border: 0;
    background: url("../imgs/info/btn_pause_icon_02.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .play {
    display: none;
    border: 0;
    background: url("../imgs/info/btn_play_icon_04.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section .gm .g2 .g3 .sag {
    border: 0;
    background: url("../imgs/info/btn_right_arrow_icon_01.png") no-repeat;
    background-position: center center;
    width: 30%;
    height: 30%;
    background-size: contain;
  }
  main .gongji section div {
    display: flex;
  }
  main .gongji section div .u1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
  }
  main .gongji section div .u1 .color1 {
    background: #e0e9f4;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color2 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color3 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color4 {
    background: #f3e6f3;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 .color5 {
    background: #ddece9;
    color: #585858;
    font-size: 14px;
  }
  main .gongji section div .u1 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
  }
  main .gongji section div .u1 li a {
    padding: 3px 5px;
    font-size: 14px;
    text-align: center;
  }
  main .gongji section div .u1 li a:nth-of-type(1) {
    border-radius: 20px;
    width: 110px;
  }
  main .gongji section div .u1 li span {
    font-size: 14px;
    padding: 5px;
  }
  main .gongji .u2 {
    width: 40%;
    height: 232px;
  }
  main .gongji .u2 .swiper {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  main .gongji .u2 .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .gongji .u2 .swiper .swiper-slide img {
    display: block;
  }
  main .gongji .sibal {
    width: 100%;
  }
  main .sosik {
    margin: 0 auto;
  }
  main .sosik .ul1 {
    margin-bottom: 0;
  }
  main .sosik section div {
    position: relative;
  }
  main .sosik section div h2 {
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
    margin-bottom: 30px;
  }
  main .sosik section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .sosik section ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateX(-15px);
  }
  main .sosik section ul li {
    margin-bottom: 15px;
    width: 45%;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 35px 30px 40px;
    transition: 0.5s;
  }
  main .sosik section ul li:hover {
    box-shadow: 3px 3px 3px rgb(206, 200, 200);
  }
  main .sosik section ul li p:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    font-size: 18.2px;
    vertical-align: middle;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(1) {
    font-size: 18.2px;
    color: #585858;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) {
    width: 35px;
    height: 35px;
    color: #333333;
  }
  main .sosik section ul li p:nth-of-type(1) span:nth-of-type(2) img {
    vertical-align: text-top;
    transition: 1s;
  }
  main .baro section {
    margin-top: 100px;
  }
  main .baro section div h2 {
    position: relative;
    font-family: "kohib";
    font-size: 22.4px;
    font-weight: 200;
    color: #585858;
  }
  main .baro section div h2::after {
    display: block;
    content: "";
    width: 25px;
    height: 17px;
    top: -15px;
    left: 80px;
    background: url("../imgs/info/ico_bullet03.svg") no-repeat center;
    position: absolute;
    background-size: 100%;
  }
  main .baro section nav {
    margin-bottom: 50px;
    font-size: 16.9px;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
  }
  main .baro section nav::after {
    height: 20px;
    content: "";
    display: block;
    border-bottom: 1px solid #585858;
  }
  main .baro section nav a {
    margin: 10px 25px;
    padding: 30px;
    font-size: 18.2px;
    color: #585858;
    flex-shrink: 0;
  }
  main .baro section nav a:nth-of-type(4) {
    margin: 10px 25px 10px 0px;
  }
  main .baro section ul {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
  }
  main .baro section ul li {
    width: 22%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-size: 13px;
  }
  main .baro section ul li:hover {
    border: none;
  }
  main .baro section ul li a {
    padding: 0 20px;
    text-align: center;
  }
  main .baro section ul li a:hover {
    color: white;
  }
  main .baro section ul li:hover {
    background-color: #e4007f;
  }
  .footer {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
  }
  .footer section {
    width: 100%;
    margin: 0 auto;
  }
  .footer section .footul1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .footer section .footul1 li {
    width: 100%;
    flex-shrink: 0;
    margin-top: 20px;
    transform: translateX(0);
  }
  .footer section .footul1 li:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto;
  }
  .footer section .footul1 li:nth-of-type(1) a {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d3d0d0;
  }
  .footer section .footul1 li:nth-of-type(1) a p {
    position: relative;
    padding: 10px 10px;
    font-size: 13px;
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(1)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(90px);
  }
  .footer section .footul1 li:nth-of-type(1) a p:nth-of-type(2)::after {
    position: absolute;
    width: 20%;
    height: 20%;
    content: "";
    display: block;
    top: 15px;
    right: -20px;
    background: url("../imgs/info/ico_select_arrow.png") no-repeat;
    transform: translateX(100px);
  }
  .footer section .footul1 li:nth-of-type(1) a span {
    padding-right: 10px;
    font-size: 14px;
  }
  .footer section .footul1 li:nth-of-type(1) a span::before {
    content: "";
    border-left: 1px solid #585858;
    padding-right: 5px;
  }
  .footer section .footul1 li:nth-of-type(2) {
    text-align: center;
  }
  .footer section .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .footer section .flex .footer_left {
    display: flex;
    flex-direction: column;
  }
  .footer section .flex .footer_left a {
    text-align: center;
  }
  .footer section .flex .footer_left a img {
    width: 30%;
    transform: translateX(40px);
  }
  .footer section .flex .footer_left ul {
    position: relative;
    text-align: center;
  }
  .footer section .flex .footer_left ul li {
    font-size: 11.9px;
    color: #333333;
  }
  .footer section .flex .footer_left ul li:nth-of-type(1) {
    font-size: 17.85px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(4) {
    margin-top: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) {
    margin-bottom: 11.9px;
  }
  .footer section .flex .footer_left ul li:nth-of-type(5) a {
    text-decoration: underline;
    color: #0f6ca1;
  }
  .footer section .flex .footer_left ul::before {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right {
    display: flex;
    transform: translateX(0px);
  }
  .footer section .footer_right ul {
    position: relative;
    display: flex;
    align-items: center;
  }
  .footer section .footer_right ul li {
    line-height: 1;
  }
  .footer section .footer_right ul li a {
    font-size: 11.9px;
  }
  .footer section .footer_right ul li a span {
    font-size: 20px;
    padding-right: 10px;
  }
  .footer section .footer_right ul::before {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    left: -30px;
  }
  .footer section .footer_right ul::after {
    content: "";
    display: none;
    border-left: 1px solid #d3d0d0;
    height: 100%;
    position: absolute;
    right: -30px;
    top: 0;
  }
  .footer section .footer_right .footer_right_img {
    text-align: center;
  }
  .footer section .footer_right .footer_right_img img {
    width: 20%;
  }
  .footer .bugichat {
    position: fixed;
    right: 50px;
    bottom: 150px;
  }
  .footer .bugichat figure {
    display: flex;
    flex-direction: column;
  }
  .footer .bugichat figure a {
    width: 55%;
    transform: translateY(-30px);
    display: block;
  }
  .footer .bugichat figure a:nth-of-type(1) {
    height: 100%;
    position: relative;
    transform: translate(100px, -50px);
  }
  .footer .bugichat figure a:nth-of-type(1) img {
    width: 100%;
    position: absolute;
  }
  .footer .bugichat figure a:nth-of-type(1) img:nth-of-type(1) {
    z-index: 1;
  }
  .footer .bugichat figure a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .footer .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(1) {
    width: 100%;
    display: none;
  }
  .footer .bugichat figure:hover a:nth-of-type(1) img:nth-of-type(3) {
    width: 100%;
  }
  .footer .bugichat .text_img {
    transform: translate(100px, 40px);
  }
  .footer .bugichat .text_img img {
    width: 100%;
  }
  .footer .top {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
  .footer .top a p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 12px;
  }
  .footer .top a::before {
    content: "";
    display: block;
    background: url("../imgs/info/ico_scrolltop.png") no-repeat;
    transform: translate(13px, -10px);
    height: 50px;
  }
}/*# sourceMappingURL=info.css.map */